*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#engineone {
  animation: engineone 4s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes engineone{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}

#enginetwo {
  animation: enginetwo 4s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes enginetwo{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}

#enginethree {
  animation: enginethree 4s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes enginethree {
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(-360deg);
  }
}